<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<connectionStrings>
		<add name="CineVerEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-4SRV2TJ2\SQLEXPRESS;initial catalog=cinever;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>

	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<system.serviceModel>
		<services>
          <service behaviorConfiguration="mexBehavior" name="CineVerServicios.DulceriaServicio">
            <endpoint address="DulceriaServicio"
                      binding="netTcpBinding"
                      bindingConfiguration="TcpBindingConfig"
                      contract="CineVerServicios.Interfaces.IDulceriaServicio" />
            <endpoint address="mex"
                      binding="mexHttpBinding"
                      contract="IMetadataExchange" />
            <host>
              <baseAddresses>
                <add baseAddress="http://localhost:2020/DulceriaServicio" />
                <add baseAddress="net.tcp://localhost:1010/DulceriaServicio" />
              </baseAddresses>
            </host>
          </service>

			<service behaviorConfiguration="mexBehavior" name="CineVerServicios.PelículaServicio">
				<endpoint address="PeliculaServicio"
						  binding="netTcpBinding"
						  bindingConfiguration="TcpBindingConfig"
						  contract="CineVerServicios.Interfaces.IPelículaServicio" />
				<endpoint address="mex"
						  binding="mexHttpBinding"
						  contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:2020/PeliculaServicio" />
						<add baseAddress="net.tcp://localhost:1010/PeliculaServicio" />
					</baseAddresses>
				</host>
			</service>

		    <service behaviorConfiguration="mexBehavior" name="CineVerServicios.SucursalServicio">
			    <endpoint address="SucursalServicio"
					      binding="netTcpBinding"
					      bindingConfiguration="TcpBindingConfig"
					      contract="CineVerServicios.Interfaces.ISucursalServicio" />
			    <endpoint address="mex"
					      binding="mexHttpBinding"
					      contract="IMetadataExchange" />
			    <host>
				    <baseAddresses>
					    <add baseAddress="http://localhost:2020/SucursalServicio" />
					    <add baseAddress="net.tcp://localhost:1010/SucursalServicio" />
				    </baseAddresses>
			    </host>
		    </service>

			<service behaviorConfiguration="mexBehavior" name="CineVerServicios.VentaServicio">
				<endpoint address="VentaServicio"
						  binding="netTcpBinding"
						  bindingConfiguration="TcpBindingConfig"
						  contract="CineVerServicios.Interfaces.IVentaServicio" />
				<endpoint address="mex"
						  binding="mexHttpBinding"
						  contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:2020/VentaServicio" />
						<add baseAddress="net.tcp://localhost:1010/VentaServicio" />
					</baseAddresses>
				</host>
			</service>

			<service behaviorConfiguration="mexBehavior" name="CineVerServicios.CorteCajaServicio">
				<endpoint address="CorteCajaServicio"
						  binding="netTcpBinding"
						  bindingConfiguration="TcpBindingConfig"
						  contract="CineVerServicios.Interfaces.ICorteCajaServicio" />
				<endpoint address="mex"
						  binding="mexHttpBinding"
						  contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:2020/CorteCajaServicio" />
						<add baseAddress="net.tcp://localhost:1010/CorteCajaServicio" />
					</baseAddresses>
				</host>
			</service>

			<service behaviorConfiguration="mexBehavior" name="CineVerServicios.EmpleadoServicio">
				<endpoint address="EmpleadoServicio"
						  binding="netTcpBinding"
						  bindingConfiguration="TcpBindingConfig"
						  contract="CineVerServicios.Interfaces.IEmpleadoServicio" />
				<endpoint address="mex"
						  binding="mexHttpBinding"
						  contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:2020/EmpleadoServicio" />
						<add baseAddress="net.tcp://localhost:1010/EmpleadoServicio" />
					</baseAddresses>
				</host>
			</service>

			<service behaviorConfiguration="mexBehavior" name="CineVerServicios.SocioServicio">
				<endpoint address="SocioServicio"
						  binding="netTcpBinding"
						  bindingConfiguration="TcpBindingConfig"
						  contract="CineVerServicios.Interfaces.ISocioServicio" />
				<endpoint address="mex"
						  binding="mexHttpBinding"
						  contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:2020/SocioServicio" />
						<add baseAddress="net.tcp://localhost:1010/SocioServicio" />
					</baseAddresses>
				</host>
			</service>

			<service behaviorConfiguration="mexBehavior" name="CineVerServicios.CuentaFidelidadServicio">
				<endpoint address="CuentaFidelidadServicio"
						  binding="netTcpBinding"
						  bindingConfiguration="TcpBindingConfig"
						  contract="CineVerServicios.Interfaces.ICuentaFidelidadServicio" />
				<endpoint address="mex"
						  binding="mexHttpBinding"
						  contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:2020/CuentaFidelidadServicio" />
						<add baseAddress="net.tcp://localhost:1010/CuentaFidelidadServicio" />
					</baseAddresses>
				</host>
			</service>

			<service behaviorConfiguration="mexBehavior" name="CineVerServicios.GastoServicio">
				<endpoint address="GastoServicio"
						  binding="netTcpBinding"
						  bindingConfiguration="TcpBindingConfig"
						  contract="CineVerServicios.Interfaces.IGastoServicio" />
				<endpoint address="mex"
						  binding="mexHttpBinding"
						  contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:2020/GastoServicio" />
						<add baseAddress="net.tcp://localhost:1010/GastoServicio" />
					</baseAddresses>
				</host>
			</service>

			<service behaviorConfiguration="mexBehavior" name="CineVerServicios.SalaServicio">
				<endpoint address="SalaServicio"
						  binding="netTcpBinding"
						  bindingConfiguration="TcpBindingConfig"
						  contract="CineVerServicios.Interfaces.ISalaServicio" />
				<endpoint address="mex"
						  binding="mexHttpBinding"
						  contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:2020/SalaServicio" />
						<add baseAddress="net.tcp://localhost:1010/SalaServicio" />
					</baseAddresses>
				</host>
			</service>

			<service behaviorConfiguration="mexBehavior" name="CineVerServicios.FuncionServicio">
				<endpoint address="FuncionServicio"
						  binding="netTcpBinding"
						  bindingConfiguration="TcpBindingConfig"
						  contract="CineVerServicios.Interfaces.IFuncionServicio" />
				<endpoint address="mex"
						  binding="mexHttpBinding"
						  contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:2020/FuncionServicio" />
						<add baseAddress="net.tcp://localhost:1010/FuncionServicio" />
					</baseAddresses>
				</host>
			</service>

			<service behaviorConfiguration="mexBehavior" name="CineVerServicios.FilaServicio">
				<endpoint address="FilaServicio"
						  binding="netTcpBinding"
						  bindingConfiguration="TcpBindingConfig"
						  contract="CineVerServicios.Interfaces.IFilaServicio" />
				<endpoint address="mex"
						  binding="mexHttpBinding"
						  contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:2020/FilaServicio" />
						<add baseAddress="net.tcp://localhost:1010/FilaServicio" />
					</baseAddresses>
				</host>
			</service>

			<service behaviorConfiguration="mexBehavior" name="CineVerServicios.AsientoServicio">
				<endpoint address="AsientoServicio"
						  binding="netTcpBinding"
						  bindingConfiguration="TcpBindingConfig"
						  contract="CineVerServicios.Interfaces.IAsientoServicio" />
				<endpoint address="mex"
						  binding="mexHttpBinding"
						  contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:2020/AsientoServicio" />
						<add baseAddress="net.tcp://localhost:1010/AsientoServicio" />
					</baseAddresses>
				</host>
			</service>
    </services>

    <bindings>
      <netTcpBinding>
		  <binding name="TcpBindingConfig"  openTimeout="01:00:00" closeTimeout="01:00:00"
		   sendTimeout="01:00:00" receiveTimeout="01:00:00" maxReceivedMessageSize="52428800">
			  <readerQuotas maxDepth="32" maxStringContentLength="52428800"
							maxArrayLength="52428800" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
		  </binding>
      </netTcpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>