<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IDulceriaServicio" maxReceivedMessageSize="6553600">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ISucursalServicio">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IFilaServicio">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IAsientoServicio">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IVentaServicio">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IEmpleadoServicio" maxReceivedMessageSize="6553600">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ISocioServicio">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ICuentaFidelidadServicio">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IGastoServicio">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ICorteCajaServicio">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IFuncionServicio">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ISalaServicio">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IPelículaServicio" maxReceivedMessageSize="6553600">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:1010/DulceriaServicio/DulceriaServicio"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDulceriaServicio"
                contract="DulceriaServicio.IDulceriaServicio" name="NetTcpBinding_IDulceriaServicio">
                <identity>
                    <userPrincipalName value="LAPTOP-1UFSE68T\armas" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:1010/FilaServicio/FilaServicio"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IFilaServicio"
                contract="FilaServicio.IFilaServicio" name="NetTcpBinding_IFilaServicio">
                <identity>
                    <userPrincipalName value="ESTUDIANTES\zS22013626" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:1010/AsientoServicio/AsientoServicio"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAsientoServicio"
                contract="AsientoServicio.IAsientoServicio" name="NetTcpBinding_IAsientoServicio">
                <identity>
                    <userPrincipalName value="ESTUDIANTES\zS22013626" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:1010/SocioServicio/SocioServicio"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISocioServicio"
                contract="SocioServicio.ISocioServicio" name="NetTcpBinding_ISocioServicio">
                <identity>
                    <userPrincipalName value="LAPTOP-GDRRFCLH\laraf" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:1010/CuentaFidelidadServicio/CuentaFidelidadServicio"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICuentaFidelidadServicio"
                contract="CuentaFidelidadServicio.ICuentaFidelidadServicio"
                name="NetTcpBinding_ICuentaFidelidadServicio">
                <identity>
                    <userPrincipalName value="LAPTOP-GDRRFCLH\laraf" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:1010/GastoServicio/GastoServicio"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IGastoServicio"
                contract="GastoServicio.IGastoServicio" name="NetTcpBinding_IGastoServicio">
                <identity>
                    <userPrincipalName value="LAPTOP-4SRV2TJ2\yaela" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:1010/CorteCajaServicio/CorteCajaServicio"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICorteCajaServicio"
                contract="CorteCajaServicio.ICorteCajaServicio" name="NetTcpBinding_ICorteCajaServicio">
                <identity>
                    <userPrincipalName value="LAPTOP-4SRV2TJ2\yaela" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:1010/VentaServicio/VentaServicio"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IVentaServicio"
                contract="VentaServicio.IVentaServicio" name="NetTcpBinding_IVentaServicio">
                <identity>
                    <userPrincipalName value="LAPTOP-1UFSE68T\armas" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:1010/FuncionServicio/FuncionServicio"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IFuncionServicio"
                contract="FuncionServicio.IFuncionServicio" name="NetTcpBinding_IFuncionServicio">
                <identity>
                    <userPrincipalName value="LAPTOP-4SRV2TJ2\yaela" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:1010/SalaServicio/SalaServicio"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISalaServicio"
                contract="SalaServicio.ISalaServicio" name="NetTcpBinding_ISalaServicio">
                <identity>
                    <userPrincipalName value="LAPTOP-4SRV2TJ2\yaela" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:1010/PeliculaServicio/PeliculaServicio"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPelículaServicio"
                contract="PeliculaServicio.IPelículaServicio" name="NetTcpBinding_IPelículaServicio">
                <identity>
                    <userPrincipalName value="LAPTOP-4SRV2TJ2\yaela" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:1010/SucursalServicio/SucursalServicio"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISucursalServicio"
                contract="SucursalServicio.ISucursalServicio" name="NetTcpBinding_ISucursalServicio">
                <identity>
                    <userPrincipalName value="LAPTOP-4SRV2TJ2\yaela" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:1010/EmpleadoServicio/EmpleadoServicio"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IEmpleadoServicio"
                contract="EmpleadoServicio.IEmpleadoServicio" name="NetTcpBinding_IEmpleadoServicio">
                <identity>
                    <userPrincipalName value="LAPTOP-4SRV2TJ2\yaela" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>