<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IDulceriaServicio">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ISucursalServicio">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IPelículaServicio">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:1011/PeliculaServicio/PeliculaServicio"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPelículaServicio"
                contract="PeliculaServicio.IPelículaServicio" name="NetTcpBinding_IPelículaServicio">
                <identity>
                    <userPrincipalName value="ESTUDIANTES\zS22013626" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:1010/DulceriaServicio/DulceriaServicio"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDulceriaServicio"
                contract="DulceriaServicio.IDulceriaServicio" name="NetTcpBinding_IDulceriaServicio">
                <identity>
                    <userPrincipalName value="ESTUDIANTES\zS22013626" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:1012/SucursalServicio/SucursalServicio"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISucursalServicio"
                contract="SucursalServicio.ISucursalServicio" name="NetTcpBinding_ISucursalServicio">
                <identity>
                    <userPrincipalName value="ESTUDIANTES\zS22013626" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
	
</configuration>