<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IDulceriaServicio">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ISucursalServicio">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IVentaServicio">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IEmpleadoServicio">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ISocioServicio">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ICuentaFidelidadServicio">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IGastoServicio">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:1010/DulceriaServicio/DulceriaServicio"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDulceriaServicio"
                contract="DulceriaServicio.IDulceriaServicio" name="NetTcpBinding_IDulceriaServicio">
                <identity>
                    <userPrincipalName value="LAPTOP-1UFSE68T\armas" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:1010/SucursalServicio/SucursalServicio"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISucursalServicio"
                contract="SucursalServicio.ISucursalServicio" name="NetTcpBinding_ISucursalServicio">
                <identity>
                    <userPrincipalName value="LAPTOP-4SRV2TJ2\yaela" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:1010/VentaServicio/VentaServicio"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IVentaServicio"
                contract="VentaServicio.IVentaServicio" name="NetTcpBinding_IVentaServicio">
                <identity>
                    <userPrincipalName value="LAPTOP-4SRV2TJ2\yaela" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:1010/EmpleadoServicio/EmpleadoServicio"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IEmpleadoServicio"
                contract="EmpleadoServicio.IEmpleadoServicio" name="NetTcpBinding_IEmpleadoServicio">
                <identity>
                    <userPrincipalName value="LAPTOP-GDRRFCLH\laraf" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:1010/SocioServicio/SocioServicio"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISocioServicio"
                contract="SocioServicio.ISocioServicio" name="NetTcpBinding_ISocioServicio">
                <identity>
                    <userPrincipalName value="LAPTOP-GDRRFCLH\laraf" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:1010/CuentaFidelidadServicio/CuentaFidelidadServicio"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICuentaFidelidadServicio"
                contract="CuentaFidelidadServicio.ICuentaFidelidadServicio"
                name="NetTcpBinding_ICuentaFidelidadServicio">
                <identity>
                    <userPrincipalName value="LAPTOP-GDRRFCLH\laraf" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:1010/GastoServicio/GastoServicio"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IGastoServicio"
                contract="GastoServicio.IGastoServicio" name="NetTcpBinding_IGastoServicio">
                <identity>
                    <userPrincipalName value="LAPTOP-GDRRFCLH\laraf" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>